@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    margin-left: 100px;
    margin-right: 100px;
}
body {
    background-color: grey;
}
.content {
    background-color: grey;
}

.borda1 {
    width: 90mm 1mm;
    border-color: black;
    margin: 10px;
    border-width: 6px;
    background-color: white;
}
.borda2 {
    border-color: gold;
    width: 89mm 1mm;
    border-width: 6px;
    border-right-width: 10px;
}
.borda3 {
    border-color: rgb(79, 41, 104);
    width: 88mm 1mm;
    border-width: 6px;
    border-right-width: 55px;
    border-left-width: 55px;
    border-top-width: 10px;
    border-bottom-width: 10px;
}
.cadrasto-de-pergunta{
    width: 50vw;
    height: 10vh;
    align-items: flex-start;

}
.content{
    display: flex;
    align-items: flex-start;
}
.tema-pergunta{
    margin: 10px;
}
.main-central{
    align-items: flex-start;
    flex-direction: column;
}
.tema-pergunta{
    margin: 10px;
    flex-direction: column;
    display: flex;
}

.voltar{
    margin: 0;
    display: flex;
    justify-content: end;

}
.Alternativas{
    display: flex;
    flex-direction: column;
    margin: 0;
} 