@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-family: "Press Start 2P";
}
body {
    width: 100%;
    height: 100%;
    background: grey;
}
.content {
    background-color: grey;
}

.tela-principal {
    margin: 0;
    width: 94%;
    height: 100%;
}
.borda1 {
    width: 90mm 1mm;
    border-color: black;
    margin: 10px;
    border-width: 6px;
    background-color: white;
}
.borda2 {
    border-color: gold;
    width: 89mm 1mm;
    margin: 10px;
    border-width: 6px;
    border-right-width: 10px;
}
.borda3 {
    border-color: rgb(79, 41, 104);
    width: 88mm 1mm;
    margin: 10px;
    border-width: 6px;
    border-right-width: 55px;
    border-left-width: 55px;
    border-top-width: 10px;
    border-bottom-width: 10px;
}
.content div {
    width: auto;
    height: 100%;
    margin: 0px;
}
.main {
    margin: 0;
    width: 100%;
    height: 100%;
}

.telatotal {
    display: block;
}

.emails1 {
    display: flex;
    margin-top: 15px;
}
.emails2 {
    background-color: azure;
    display: flex;
    margin-top: 15px;
}
.gmails {
    text-align: justify;
}

.centralizacao {
    display: flexbox;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.esquerda-imagem {
    width: 150px;
    height: 150px;
}
.voltar {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.nes-btn {
    width: 15vw;
    height: 40px;
}
.centralizacao {
    margin: 0;
    display: inline-flex;
}

.subcentralizacao{
margin: 0;
}
.emailreal{
    margin: 0%;
}