@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-family: "Press Start 2P";
}
body {
    background-color: grey;
}

.esquerda-login-imagem {
    align-items: center;
    padding: 0;
    margin: 0;
    width: 13%;
}
.imagensdocentro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nes-container.with-title > .title {
    background-color: gold;
    border-style: solid;
    border-color: black;
}
.borda1 {
    width: 90mm 1mm;
    border-color: black;
    margin: 10px;
    border-width: 6px;
    background-color: white;
}
.borda2 {
    border-color: gold;
    width: 89mm 1mm;
    margin: 10px;
    border-width: 6px;
    border-right-width: 10px;
}
.borda3 {
    border-color: rgb(79, 41, 104);
    width: 88mm 1mm;
    margin: 10px;
    border-width: 6px;
    border-right-width: 55px;
    border-left-width: 55px;
    border-top-width: 10px;
    border-bottom-width: 10px;
}
.content div {
    margin: 0px;
    padding: 0px;
}
.direita-login div {
    width: 50vw;
    margin: 3px;
    padding: 3px;
    margin-bottom: 10px;
}
