@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-family: "Press Start 2P";
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
outline: 0;
}
   

.botoes{
display: flex;
flex-direction: column;
position:absolute;
left:50%;
top:50%;
margin-left:-200px;
margin-top:-20px;

}
               .botaoconfig{
display: flex;
flex-direction:column;
position:absolute;
align-items: center;
left:48%;
top:63%;
margin-left:50px;
margin-top:210px;
color: rgb(85, 95, 104);
}
.titulo{
    display: flex;
    flex-direction: column-reverse;
    position:absolute;
    align-items: center;
    left:50%;
    top:50%;
    margin-left:-220px;
    margin-top:-150px;
    }
     