@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap");

*{
    margin: auto 10px ;
    padding: 10px;
}

header{
    margin: 10px;
    padding: auto;
    text-align: center;
    color: black;
    background-color: goldenrod;
    border: 4px solid black;
    border-radius: 7px;
}

h1 {
    border: 4px solid #000;
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    background-size: contain;
    background-color: goldenrod
}

h2 {
    border-radius: 10px;
}

.campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}