@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 10px;
    padding: 10px;
}

header {
    background-color: rgb(44, 18, 190);
    border: 10px solid rgb(240, 91, 91);
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 600px;
}
header:hover {
    background-color: aquamarine;
    font-family: "Press Start 2P", cursive;
}
body {
    background-color: aqua;
}

main {
    background-color: rgb(178, 236, 224);
    display: flex;
    margin: 10px 50px;
    flex-wrap: nowrap;
}

section {
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
}

input {
    text-align: center;
    border-radius: 10.5px;
    color: rgb(218, 218, 2);
}
