* {
    margin-left: 100px;
    margin-right: 100px;

}
body{
    background-color:grey
}

.nes-container.with-title > .title {
    background-color: gold;
    border-style: solid;
    border-color: black;

}
.borda1 {
    width: 90mm 1mm;
    border-color: black;
    margin: 10px;
    border-width: 6px;
    background-color: white;

}
.borda2 {
    border-color: gold;
    width: 89mm 1mm;
    margin: 10px;
    border-width: 6px;
    border-right-width: 10px;
}
.borda3 {
    border-color: rgb(79, 41, 104);
    width: 88mm 1mm;
    margin: 10px;
    border-width: 6px;
    border-right-width: 55px;
    border-left-width: 55px;
    border-top-width: 10px;
    border-bottom-width: 10px;

}
.content div {
    margin: 0px;
    padding: 0px;
}
.direita-login div {
    width: 50vw;
    margin: 3px;
    padding: 3px;
    margin-bottom: 10px;
}
.esquerda-login-image {
    width: 20%;

}
.nes-select select{
    border-image-repeat:unset ;
}

.nes-input{
    border-image-repeat:unset ;
}
.nes-container {
    padding: 0%;
    position: relative;
}

.cartao-contato > .borda3{
    width:auto;
    margin: 10px;
    padding: 85px;
    margin-bottom: 0px;

}
.contato-info{
    margin: -1.8rem 0 1rem;
    padding: 15px;


}